body {
  font-size: 1rem;
}

header {
  padding-top: 100px;
  padding-bottom: 30px;
}

.block > h1 {
    padding-bottom: 3vh;
}


.block {
    padding-top: 2vw;
    padding-bottom: 2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}


object {
    height: 64px;
    max-width: 128px;
    margin: 10px;
    content: overflow;
}

a > .material-icons {
    margin-top: 10px;
    font-size: 50px;
    color: black;
}

svg {
  max-width: 4em;
}

/* start porfolio items */

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  /* max-width: 530px; */
  /* margin: auto auto 1rem; */
  height: 175px;
  margin: 10px;
}

.portfolio-item .caption {
  border-radius: .5rem;
  /*padding-top: 3rem;*/
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  background-color: rgba(29, 128, 159, 0.9);
  background-color: aliceblue;
  background-color: lavender;
  top: 0;
  left: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  color: black;
  /* margin: auto 2rem 2rem; */
  justify-content: center;
  align-self: center;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    /* margin: 0; */
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    /* margin-bottom: 5rem; */
    margin: 3rem;
  }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    background-color: lavender;
    background-color: aliceblue;
    background-color: #bfafef;
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);
  }
}

a:hover.portfolio-item {
  text-decoration: none;
}
/* end porfolio items */

.card {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #f5fcff;
    background-color: aliceblue;
    border: none;
}

.col-lg-6 {
  padding-right: -10px;
  padding-left: -10px;
}

.col-md-6, .col-md-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.no-gutters {
  margin-right: -15px;
  margin-left: -15px;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#about-me .row ul {
    width:200px;
    margin:0 auto;
    text-align:left;
    margin-bottom: 10px;
}

.row h4 {
    padding-top: 2vh;
}

#education i.material-icons {
    color: darkviolet;
}

#skills ul {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;  
  font-size: 120%;
  text-align: left;
}

#skills ul li:before {
  content: '> ';
  color: red;
  font-weight: bold;
}}